@model eCommerceApp.Models.Category
@{
    ViewBag.Title = "EditCategories";
}

<h2>EditCategories</h2>
<form method="post" action="/Categories/EditCategories/@Model.CategoryID">

    <div class="form-group">
        <label for="CategoryName">Category Name</label>
        <input type="text" class="form-control" name="CategoryName" placeholder="Category Name" value="@Model.CategoryName"/>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Submit</button>
</form>
